/*
Design by Marycp
Develop by Metalkarlos 
*/

/************************************** Global Settings **************************************/
* {
	/*font-size:10px;
	font-family:Verdana, Helvetica, Arial, sans-serif;*/
}
.cuerpo {
	padding: 10px 0;
}
.cuerpo .titulo {
	border-radius: 5px;
	padding: 0px 0px 0px 3px;
	font-size: 18px;
	text-transform: capitalize;
	width: 100%;
	border: 1px solid #CCECAE;
	background: #9DDD63 url("../resources/themes/smoothness/images/ui-bg_gloss-wave_45_9ddd63_500x100.png") repeat-x scroll 50% 50%;
	color: #FFF;
	font-weight: bold;
}
.cuerpo .contenido {
	padding: 10px 5px;
}
a {
	/*text-decoration:none; */
}

a:hover, a:active {
	text-decoration:underline;
}

label {
	font-weight: bold;
	/*font-size:11px;*/
}

h1 {
	font-size:18px;
	text-transform:capitalize;
	width: 100%;
	padding: 0px;
}

h2 {
	font-size:13px;
	text-transform:capitalize;
	font-family: Verdana,Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-weight: bold;
}

h3 {
	font-size:8px;
	text-transform:capitalize;
}
/*.ensanchar input {
	width: 100%;
	padding: 0 5px;
}*/
input, textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing : border-box;
}
.link{
	font-family: Arial,sans-serif,Verdana,Lucida Grande,Lucida Sans;
	font-size:13px;
	color:#e3980d;
	text-align: justify;
}

/*.link2{
	font-family: Verdana,Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size:14px;
	text-transform:UpperCase;
	font-weight: bold;
	background-color:#eceae7;
	
}*/
.link2 {
	letter-spacing: -1px;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 1px 1px #fbfbfb;
}
.texto{
	font-family: Verdana,Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size:12px;
	color:#2c436e;
	text-align: justify;
	margin-right: 50px
}
.texto2{
	font-family: Arial,sans-serif,Verdana,Lucida Grande,Lucida Sans;
	font-size:16px;
	color:#e3980d;
	text-align: justify;

}
.texto3{
	font-family: Arial,sans-serif,Verdana,Lucida Grande,Lucida Sans;
	font-size:12px;
	color:#66ad23;
	text-align: left;
	text-decoration: none;

}
.texto4{
	font-family: Verdana,Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size:10px;
	color:#ffffff;
	text-align: center;
	font-weight: bold;

}
.texto5{
	font-family: Arial,sans-serif,Verdana,Lucida Grande,Lucida Sans;
	font-size:12px;
	color:#7B7B7B;;
	text-align: left;
	text-decoration: none;
	border-radius : 6px;
	border: 1px solid #CCC;
}
.ui-button{
	font-family: Arial,sans-serif,Verdana,Lucida Grande,Lucida Sans;
	font-size:14px;
	font-weight: bold;
	color: #7B7B7B;
	background-color: #dddddd;
	background-image: linear-gradient(#dddddd, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd;
	padding: 16px;
	border-radius : 6px;
	border: 1px solid #CCC;
	outline: medium none;
	
}

.sidepage{
	font-size: 10px; 
	font-family: Verdana,Lucida Grande,Lucida Sans,Arial,sans-serif;
	padding: 0px 5px 0px 5px;
}

#search-form {
	display:inline-block;
	position:relative;
	width:271px;
	height:31px;
	margin:6px 0 0 0;
	border: 1px solid #cccccc;
	border-radius: 7px;
	box-shadow: 1px 0 5px #aaaaaa;
}

#search-form input {
	outline:none;
	margin:0 0 0 15px;
	color:#c2c2c2;
	border:none;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background:none;
	text-transform:uppercase;
	height:18px;
	padding:7px 0 5px;
	width:225px;
	box-sizing: unset;
}

.search-form-submit {
	position:absolute;
	display:block;
	width:20px;
	height:23px;
	background:url(../resources/images/header-search-submit.gif) no-repeat 0 0;
	right:6px;
	top:4px;
}

.search-form-submit:hover {
	background:url(../resources/images/header-search-submit.gif) no-repeat 0 bottom;
}

.clear{
	clear:both;
	line-height:0;
	font-size:0;
	overflow:hidden;
	height:0;
	width:100%;
}
.parrafo {
	font-size:15px;
}
.title {
	padding: 0 0 0 3px;
}
.ui-widget-content .ui-panelgrid tr, .ui-widget-content .ui-panelgrid td {
	border: none;
}
::-moz-selection { /* Code for Firefox */
    background: #9DDD63;
}

::selection {
    background: #9DDD63;
}
.panel-previa img {
	max-height: 100px; 
	border: 1px solid #d3d3d3;
}
.inner-content {
	padding: 5px 0;
}
/************************************** Login Settings **************************************/
.centrar-body {
	background-color:#ffffff;
}

#centrar {
	margin:auto;
	position:absolute;
	top:50%;
	left:50%;
}

#centrar .header {
	height:15%;
}

/*.marco {
	border-style: solid;
	border-width: 1px;
	border-color: #DF7401;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
}*/

/*#logo {
	font-family: serif;
	font-size: 5em;
	font-weight: bold;
	color: #DF7401;
	background-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #DF7401;
	border-radius: 5px;
	-moz-border-radius: 5px;
}*/

#centrar .contenido {
	height:70%;
	border-style:solid;
	border-color:activeborder;
	border-width:1px 1px 1px 1px;
	border-radius:5px;
	-moz-border-radius:5px;
	background-image:url(../resources/images/miscellaneous/motabg.png);
}

#centrar .contenido .datos {
	margin:auto;
	border-style:solid;
	border-width:1;
}

#centrar .footer {
	text-align:center;
	height:15%;
}

#centrar .footer .copyright {
	margin:0px;
	color:#747474;
}

#centrar .footer .compatible {
	margin:auto;
	border-spacing:5px;
}

/************************************** Default Template **************************************/
.principal-body {
	background-color:#333333;/*#bfbfbf;*/
}

#principal {
	min-width: 1140px;/*1050px;*/
	min-height: 600px;
	/*position: absolute;*/
	/*margin:auto;*/
	/*left: 10px; */
	/*right: 10px;*/ 
	/*top: 40px;/* 
	/*bottom: 60px;*/
	/*padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;*/
	background-color: #333333;/*#bfbfbf;*/
	border-radius:5px;
	-moz-border-radius:5px;
	/*overflow: auto;*/
	margin: 40px 10px 0px 10px;
}

#principal .header {
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
}

#principal .header .links {
	padding:10px 10px 0px 0px;
	text-align:right;
}

#principal .header .logo_empresa {
	padding:0px 0px 10px 15px;
}

#principal .menu {
	/*margin-top: 0px;
	background-color: #ffffff;*/
	border-radius:5px;
	-moz-border-radius:5px;
}

#principal .body {
	border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	min-height:500px;
	overflow: hidden;
	padding: 0px 0px 20px 0px;
}

#principal .body .content {
	margin-top: 20px;
	margin-left: 5px;
}

#principal .body .content .left {
	min-width:200px;/*se cambia a min, para q se acople al tamaño del contenido*/
	clear:left;
	float:left;
	text-align:center;
	margin: 0px 10px 0px 10px;
	max-width: 243px;
}

#principal .body .content .right {
	width:850px;
	float:left;
	padding-left:5px;
}

#footer {
	bottom: 0px;
	left: 0px;
	right: 0px;
	/*height:20px;*/
	/*margin:auto;*/
	/*background-color:transparent;*/
	/*background-color: rgb(51, 51, 51);*/
	/*border-radius:5px;*/
	/*-moz-border-radius:5px;*/
	text-align: center; 
	color:#909090;
	font-size: 12px;
	/*clear: both;*/
}

.buttontrans {
	opacity:0.4;
	filter:alpha(opacity=40);/*For IE8 and earlier*/
	cursor:pointer;
}

.buttontrans:hover {
	opacity:0.7;
	filter:alpha(opacity=70);/*For IE8 and earlier*/
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	font-size: 12px;
}